<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MediScreen Build Page</title>
    <base href="http://localhost:8888/mediscreen/ui/">
</head>
<body>
<header>
    <div id="logo">
        <img th:src="@{img/logo_mediscreen.png}">
        <h1> MediScreen</h1>
    </div>
    <div id="menu">
        <ul>
            <li><a href="home">Home</a></li>
            <li><a href="buildPage"> About</a></li>
            <li><a href="patient"> Services </a></li>
            <li><a href="buildPage">Ressources </a></li>
            <li><a href="buildPage">News Blog</a></li>
        </ul>
    </div>
</header>
<section>
    <H1>Cette page est en construction</H1>

</section>
</body>
</html>