<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MediScreen Home</title>
    <base href="http://localhost:8888/mediscreen/ui/">
    <link  th:href="@{css/logo.css}" href="css/logo.css" rel="stylesheet"/>
    <link  th:href="@{css/menu.css}" href="css/menu.css" rel="stylesheet"/>
    <link  th:href="@{css/home.css}" href="css/home.css" rel="stylesheet"/>

</head>
<body>
<header>
    <div id="logo">
        <img id="logo_mediscreen" th:src="@{img/logo_mediscreen.png}"  alt="logo_mediscreen">
        <h1> MediScreen</h1>
    </div>
    <div id="menu">
        <ul>
            <li><a href="home">Home</a></li>
            <li><a href="buildPage"> About</a></li>
            <li><a href="patient"> Services </a></li>
            <li><a href="buildPage">Ressources </a></li>
            <li><a href="buildPage">News Blog</a></li>
        </ul>
    </div>
</header>
<section>
    <div id="home">
        <div id="presentation">
            <h3>We care.</h3>
            <p>
                Mediscreen specializes in <br>
                detecting risk factors for disease.<br>
                Our screenings using predictive<br>
                analysis of patient populations at<br>
                an affordable cost.
            </p>
            <ul>
                <li>Are you a small or rural clinic<br> or practice?</li>
                <li>Do you need screenings for<br>
                    heart disease or hyper<br>
                    tension precursors?
                </li>
            </ul>
            <h4>We have a solution for you.</h4>
        </div>
        <div id="imageHome">
            <img th:src="@{img/imgHome.png}">
        </div>
    </div>
</section>
</body>
</html>