<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Patient list </title>
    <base href="http://localhost:8888/mediscreen/ui/">
    <link  th:href="@{css/logo.css}" href="css/logo.css" rel="stylesheet"/>
    <link  th:href="@{css/menu.css}" href="css/menu.css" rel="stylesheet"/>
    <link  th:href="@{css/home.css}" href="css/home.css" rel="stylesheet"/>
    <link  th:href="@{css/patientList.css}" href="css/patientList.css" rel="stylesheet"/>
</head>

<body>
<header>
    <div id="logo">
        <img id="logo_mediscreen" th:src="@{img/logo_mediscreen.png}"  alt="logo_mediscreen">
        <h1> MediScreen</h1>
    </div>
    <div id="menu">
        <ul>
            <li><a href="home">Home</a></li>
            <li><a href="buildPage"> About</a></li>
            <li><a href="patient"> Services </a></li>
            <li><a href="buildPage">Ressources </a></li>
            <li><a href="buildPage">News Blog</a></li>
        </ul>
    </div>
</header>
<section>
    <h1>Patient list</h1>
    <div id="tab">
        <a href="patient/add">Add New</a>
        <table id="patientTab">
            <thead>
            <tr>
                <th>LastName</th>
                <th>FirstName</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patient :${allPatient}">
                <td th:text="${patient.lastName}"/>
                <td th:text="${patient.firstName}"/>
                <td id="action">
                    <a th:href="@{patient/{id}/details(id=${patient.id})}">View history</a> |
                    <a th:href="@{patient/update/{id}(id=${patient.id})}">Edit</a> |
                    <a th:href="@{patient/delete/{id}(id=${patient.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>