<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Spring Boot </title>
    <base href="http://localhost:8888/mediscreen/ui/">
</head>
<body>

<h1>WELCOME PATIENT PAGE</h1>

<h2 th:text="${patientBean.firstName}"></h2>

<form th:action="@{add/note/{id}(id=${patientBean.id})}" name="note" method="post">
    <label for="note"></label>
    <textarea id="note" name="note" rows="5" cols="50">
    </textarea>
    <br>
    <input type="submit" value="Add note">
</form>

<div id="tab">
    <table>
        <thead>
        <tr>
            <th>Date</th>
            <th>Note</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="note :${notes}">
            <td th:text="${note.date}"/>
            <td>
                <label for="notes"></label>
                <textarea id="notes" rows="5" cols="50" disabled th:text="${note.note}">
                </textarea>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<a class="cancel" href="">Retour</a>


</body>
</html>