<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Update Your Note </title>
    <base href="http://localhost:8888/mediscreen/ui/">
    <link  th:href="@{css/logo.css}" href="css/logo.css" rel="stylesheet"/>
    <link  th:href="@{css/menu.css}" href="css/menu.css" rel="stylesheet"/>
    <link  th:href="@{css/home.css}" href="css/home.css" rel="stylesheet"/>
    <link  th:href="@{css/updateNote.css}" href="updateNote/home.css" rel="stylesheet"/>
</head>
<body>
<header>
    <div id="logo">
        <img id="logo_mediscreen" th:src="@{img/logo_mediscreen.png}"  alt="logo_mediscreen">
        <h1> MediScreen</h1>
    </div>
    <div id="menu">
        <ul>
            <li><a href="home">Home</a></li>
            <li><a href="buildPage"> About</a></li>
            <li><a href="patient"> Services </a></li>
            <li><a href="buildPage">Ressources </a></li>
            <li><a href="buildPage">News Blog</a></li>
        </ul>
    </div>
</header>

<section>

<div id="add">
    <form th:action="@{note/update}" th:object="${note}" method="post">

        <div class="champ">
            <label for="note"></label>
            <textarea th:text="${note.note}" id="note" name="note" rows="5" cols="50" required></textarea>
        </div>

        <div class="valid">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{patientId}">
            <input type="hidden" th:field="*{date}">
            <a class="cancel" th:href="@{patient/{id}/details(id=${note.patientId})}">Cancel</a>
            <input class="valid_bottom" type="submit" value="Update Note">
        </div>
    </form>
</div>
</section>

</body>
</html>